.popup__item {
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    padding: 0 0 13px;
    margin: 0;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    color: #000;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
