.popup__container {
    position: relative;
    width: 430px;
    padding: 0;
    margin: 0;
    outline: none;
  }

  @media screen and (max-width: 768px) {
    .popup__container {
      width: 282px;
    }
    
  }
