body {
    background: #000;
}

@import url('./vendor/normalize.css');

@import url('./fonts/fonts.css');

@import url('./blocks/page/page.css');

@import url('./blocks/header/header.css');
@import url('./blocks/header/__logo/header__logo.css');
@import url('./blocks/header/__accaunt-container/header__accaunt-container.css');
@import url('./blocks/header/__accaunt-link/header__accaunt-link.css');
@import url('./blocks/header/__accaunt-email/header__accaunt-email.css');

@import url('./blocks/profile/profile.css');
@import url('./blocks/profile/__info/profile__info.css');
@import url('./blocks/profile/__avatar/profile__avatar.css');
@import url('./blocks/profile/__image/profile__image.css');
@import url('./blocks/profile/__info-container/profile__info-container.css');
@import url('./blocks/profile/__title/profile__title.css');
@import url('./blocks/profile/__subtitle/profile__subtitle.css');
@import url('./blocks/profile/__button-edit/profile__button-edit.css');
@import url('./blocks/profile/__button-add/profile__button-add.css');

@import url('./blocks/elements/elements.css');
@import url('./blocks/elements/__list/elements__list.css');
@import url('./blocks/elements/__item/elements__item.css');
@import url('./blocks/elements/__image/elements__image.css');
@import url('./blocks/elements/__card-container/elements__card-container.css');
@import url('./blocks/elements/__title/elements__title.css');
@import url('./blocks/elements/__like/elements__like.css');
@import url('./blocks/elements/__like_active/elements__like_active.css');
@import url('./blocks/elements/__like-counter/elements__like-counter.css');
@import url('./blocks/elements/__delete/elements__delete.css');


@import url('./blocks/footer/footer.css');
@import url('./blocks/footer/__copyright/footer__copyright.css');

@import url('./blocks/popup/popup.css');
@import url('./blocks/popup/__container/popup__container.css');
@import url('./blocks/popup/__container_type_image/popup__container_type_image.css');
@import url('./blocks/popup/__container_type_tooltip/popup__container_type_tooltip.css');
@import url('./blocks/popup/_opened/popup_opened.css');
@import url('./blocks/popup/__button-close/popup__button-close.css');
@import url('./blocks/popup/__title/popup__title.css');
@import url('./blocks/popup/__title_type_tooltip/popup__title_type_tooltip.css');
@import url('./blocks/popup/__form/popup__form.css');
@import url('./blocks/popup/__field/popup__field.css');
@import url('./blocks/popup/__item/popup__item.css');
@import url('./blocks/popup/__button-submit/popup__button-submit.css');
@import url('./blocks/popup/__img/popup__img.css');
@import url('./blocks/popup/__title_type_img/popup__title_type_img.css');
@import url('./blocks/popup/__error/popup__error.css');
@import url('./blocks/popup/__item/_type_error/popup__item_type_error.css');
@import url('./blocks/popup/__button_disabled/popup__button_disabled.css');

@import url('./blocks/auth/auth.css');
@import url('./blocks/auth/__form/auth__form.css');
@import url('./blocks/auth/__input/auth__input.css');
@import url('./blocks/auth/__link/auth__link.css');
@import url('./blocks/auth/__button-submit/auth__button-submit.css');
@import url('./blocks/auth/__title/auth__title.css');